{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

<!-- <title>  -->
{% block title %} UBPC {% endblock %}
<!-- <extra css>-->
{% block extra_css %}{% endblock %}

<!-- <body> -->

{% block content %}




<!-- Header section -->
<header class="header-section">
	<div class="logo">
		<img src="{% static 'pics/logo.png' %}" alt=""><!-- Logo -->
	</div>
	<!-- Navigation -->
	<div class="responsive"><i class="fa fa-bars"></i></div>
	<nav>
		<ul class="menu-list">
			<li class="active"><a href="{% url 'website:index' %}">صفحه نخست</a></li>
			<li><a href="{% url 'website:register' %}">ثبت نام</a></li>
			<li><a href="{% url 'blog:index' %}">بلاگ</a></li>
			<li><a href="{% url 'website:countdown' %}">زمان برگزاری</a></li>
			<li><a href="{% url 'website:contact' %}">تماس با ما</a></li>
		</ul>
	</nav>

</header>
<!-- Header section end -->


<!-- Intro Section -->
<div class="hero-section">

	<div class="hero-content">
		<div class="hero-center">
			<img src="{% static 'pics/big-logo.png' %}" alt="">
			{% if messages %}
			{% for message in messages %}
			<div class="text-center alert alert-{{ message.tags }}">
				{{ message|safe }}
			</div>
			{% endfor %}
			{% endif %}
			<p style="text-align: center;
            margin-bottom: 30px;
            margin-top: 20px;
            background-color: #2be6ab;
            border-radius: 4px;
            padding-top: 10px;
            padding-bottom: 17px;
            font-family: 'pick-bold';">اولین دوره‌ی مسابقات الگوریتمی</p>

		</div>
	</div>

	<!-- slider -->
	<div id="hero-slider" class="owl-carousel">
		<div class="item  hero-item" data-bg="{% static 'pics/bg3.jpg' %}"></div>
		<!-- <div class="item  hero-item" data-bg="{% static 'pics/bg2.jpg' %}"></div> -->
		<div class="item  hero-item" data-bg="{% static 'pics/bg1.jpg' %}"></div>
	</div>
</div>
<!-- Intro Section -->


<!-- About section -->
<div class="about-section">
	<div class="overlay"></div>
	<!-- card section -->
	<div class="card-section">
		<div class="container">
			<div class="row">
				<!-- single card -->
				<a href="{% url 'website:countdown' %}">
					<div class="col-md-4 col-sm-6">
						<div class="lab-card">
							<div class="icon">
								<i class="flaticon-023-flask"></i>
							</div>
							<h2>زمانبندی</h2>
							<p>مسابقه کی شروع میشه؟
							</p>
						</div>
					</div>
				</a>
				<!-- single card -->
				<a href="{% url 'website:register' %}">
					<div class="col-md-4 col-sm-6">
						<div class="lab-card">
							<div class="icon">
								<i class="flaticon-011-compass"></i>
							</div>
							<h2>ثبت نام</h2>
							<p>میخوام تو مسابقه شرکت کنم
							</p>
						</div>
					</div>
				</a>
				<!-- single card -->
				<a href="{% url 'website:contact' %}">
					<div class="col-md-4 col-sm-6">
						<div class="lab-card">
							<div class="icon">
								<i class="flaticon-037-idea"></i>
							</div>
							<h2>تماس با ما</h2>
							<p> میخوام با پشتیبانی در تماس باشم
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!-- card section end-->


	<!-- About contant -->
	<div class="about-contant">
		<div class="container">
			<div class="section-title">
				<h2>مسابقه برنامه نویسی <span>الگوریتمی</span> دانشگاه بجنورد</h2>
			</div>
			<div class="row" style="padding-bottom: 100px ;">
				<div class="col-md-6">
					<p>
						انجمن علمی علوم کامپیوتر دانشگاه بجنورد با افتخار اعلام می‌کند که برای اولین بار مسابقه کدنویسی
						الگوریتمی استان را برگزار می‌کند. این مسابقه، به منظور تقویت و توسعه مهارت‌های الگوریتمی و
						کامپیوتری دانشجویان علاقه‌مند به حوزه برنامه نویسی برگزار می‌شود. شرکت در این مسابقه برای عموم
						مردم آزاد است.
					</p>
				</div>
				<div class="col-md-6">
					<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
						چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
						مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
				</div>
			</div>
			<!-- <div class="text-center mt60">
				<a href="" class="site-btn">بیشتر</a>
			</div> -->
			<!-- popup video -->
			<!-- <div class="intro-video">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<img src="{% static 'pics/video.jpg' %}" alt="">
						<a href="#" class="video-popup">
							<i class="fa fa-play"></i>
						</a>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>
<!-- About section end -->


<!-- Services section -->
<div class="services-section spad">
	<div class="container">
		<div class="section-title dark">
			<h2>با شرکت در  <span>مسابقه</span> مهارت های خود را به چالش بکشید.</h2>
		</div>
		<div class="row">
			<!-- single service -->
			<div class="col-md-4 col-sm-6">
				<div class="service">
					<div class="icon">
						<img src="{% static 'pics/logo/date.png' %}" alt="" style="height: 40px; width: 40px; margin-bottom: 5px;">
					</div>
					<div class="service-text">
						<h2>تاریخ برگزاری</h2>
						<p>پنجشنبه، 9ام آذرماه
						</p>
					</div>
				</div>
			</div>
			<!-- time -->
			<div class="col-md-4 col-sm-6">
				<div class="service">
					<div class="icon">
						<img src="{% static 'pics/logo/clock.png' %}" alt="" style="height: 40px; width: 40px; margin-bottom: 5px;">
					</div>
					<div class="service-text">
						<h2>ساعت برگزاری</h2>
						<p>8 صبح تا هر وقت تموم کردین
						</p>
					</div>
				</div>
			</div>
			<!-- location -->
			<div class="col-md-4 col-sm-6">
				<div class="service">
					<div class="icon">
						<!-- <i class="flaticon-011-compass"></i> -->
						<img src="{% static 'pics/logo/location.png' %}" alt="" style="height: 40px; width: 40px; margin-bottom: 5px;">
					</div>
					<div class="service-text">
						<h2>مکان برگزاری</h2>
						<p>دانشگاه دولتی بجنورد، دانشکده هنر
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center">
			<a href="{% url 'website:terms' %}" class="site-btn">قوانین و شرایط شرکت در مسابقه</a>
		</div>
	</div>
</div>
<!-- services section end -->

<!-- Testimonial section -->
<div class="testimonial-section pb100">
	<div class="test-overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="section-title">
					<h2>وارد <span>انجمن علمی علوم کامپیوتر</span> شوید و تیم ما را بشناسید</h2>
				</div>
				<div class="owl-carousel" id="testimonial-slide">
					<!-- single testimonial -->
					<div class="testimonial" style="direction: rtl;  display: flex;
					flex-direction: column; align-items: center; text-align: center;">

						<img src="{% static 'pics/team/123.jpg' %}" alt="">
						<div class="client-info" style="margin-top: 10px;">
							<div class="client-name">
								<h2>محمدجواد زارع</h2>

								<p>مسئول کمیته تولید محتوا و فضای مجازی</p>
							</div>
						</div>
					</div>
					<!-- single testimonial -->
					<div class="testimonial" style="direction: rtl;  display: flex;
					flex-direction: column; align-items: center; text-align: center;">

						<img src="{% static 'pics/team/456.jpg' %}" alt="">
						<div class="client-info" style="margin-top: 10px;">
							<div class="client-name">
								<h2>محمدجواد زارع</h2>

								<p>مسئول کمیته تولید محتوا و فضای مجازی</p>
							</div>
						</div>
					</div>
					<!-- single testimonial masoud kaveh-->
					<div class="testimonial" style="direction: rtl;  display: flex;
					flex-direction: column; align-items: center; text-align: center;">

						<img src="{% static 'pics/team/masoud2.jpg' %}" alt="">
						<div class="client-info" style="margin-top: 10px;">
							<div class="client-name">
								<h2>امیر مسعود کاوه</h2>
								<p>نایب دبیر</p>
							</div>
						</div>
					</div>
					<!-- single testimonial ali lakzaei-->
					<div class="testimonial" style="direction: rtl;  display: flex;
					flex-direction: column; align-items: center; text-align: center;">

						<img src="{% static 'pics/team/ali.jpg' %}" alt="">
						<div class="client-info" style="margin-top: 10px;">
							<div class="client-name" style="text-align: center;"">
								<h2>علی لک زائی</h2>
								<p>دبیر انجمن</p>
							</div>
						</div>
					</div>
					<!-- single testimonial mmd javad zare-->
					<div class=" testimonial" style="direction: rtl;  display: flex;
					flex-direction: column;
					align-items: center;
					text-align: center;">

								<img src="{% static 'pics/team/123.jpg' %}" alt="">
								<div class="client-info" style="margin-top: 10px;">
									<div class="client-name">
										<h2>محمدجواد زارع</h2>
										<p>مسئول کمیته تولید محتوا و فضای مجازی</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Testimonial section end-->



		<!-- ======= Blog Section ======= -->

		<!-- End Blog Section -->

		{% endblock %}
		<!-- </body> -->

		<!-- <extra js>-->
		{% block extra_js %}
		{% endblock %}