{% load static %}

<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ثبت نام در مسابقه</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <!-- Favicon -->
    <link href="{% static 'pics/favicon.ico' %}" rel="shortcut icon" />
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
            margin: 0;

            padding: 20px;
        }

        .signup-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin-top: 3300px;
            margin-bottom: 150px;
        }

        .signup-form {
            border: 1px solid #ccc;
            background-color: #fff;
            padding: 30px;
            border-radius: 3px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
        }

        .signup-form h2 {
            text-align: center;
            margin-bottom: 30px;
        }

        .signup-form h4 {
            text-align: right;
            margin-bottom: 20px;
            margin-top: 30px;
        }

        .signup-form input[type="text"],
        .signup-form input[type="email"],
        .signup-form input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 16px;
        }

        .signup-form button {
            width: 100%;
            padding: 10px;
            background-color: #2be6ab;
            color: #fff;
            border: none;
            border-radius: 3px;
            font-size: 16px;
            cursor: pointer;
        }

        .signup-form button:hover {
            background-color: #2be6ab;
        }
    </style>

</head>

<body>

    <!-- Header section -->
    <header class="header-section">
        <div class="logo">
            <img src="{% static 'pics/logo.png' %}" alt=""><!-- Logo -->
        </div>
        <!-- Navigation -->
        <div class="responsive"><i class="fa fa-bars"></i></div>
        <nav>
            <ul class="menu-list">
                <li><a href="{% url 'website:contact' %}">تماس با ما</a></li>
                <li><a href="{% url 'website:countdown' %}">زمانبندی</a></li>
                <li><a href="{% url 'blog:index' %}">بلاگ</a></li>
                <li class="active"><a href="{% url 'website:register' %}">ثبت نام</a></li>
                <li><a href="{% url 'website:index' %}">صفحه نخست</a></li>
            </ul>
        </nav>
    </header>
    <!-- Header section end -->
    <div class="main">
        {% if messages %}
        {% for message in messages %}
            <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-container">
                    <div class="signup-form">
                        <h2 class="form-title">شرکت در مسابقه</h2>
                        <form method="POST" action="{% url 'website:register' %}" class="register-form">

                            {% csrf_token %}
                            <!-- team_name -->
                            <h4>نام تیم</h4>
                            <div class="form-group">
                                <input type="text" name="team_name" placeholder="نام تیم" required />
                            </div>
                            <!-- university -->
                            <h4>نام دانشگاه</h4>
                            <div class="form-group">
                                <input type="text" name="university" placeholder="نام دانشگاه" />
                            </div>
                            <!-- language -->
                            <h4>زبان برنامه نویسی</h4>
                            <div class="form-group">
                                <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="language" placeholder="زبان برنامه نویسی" required />
                            </div>
                            <!-- person 1 -->
                            <h4>مشخصات شرکت کننده اول</h4>
                            <div class="signup-form">
                                <h5>نام</h5>
                                <div class="form-group">
                                    <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="first_name1" placeholder="نام" required />
                                </div>
                                <h5>نام خانوادگی</h5>
                                <div class="form-group">
                                    <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="last_name1" placeholder="نام خانوادگی" required />
                                </div>
                                <h5>جنسیت</h5>
                                <div class="form-group">
                                    <select name="gender1" style="width:100%" required>
                                        <option value="M">مرد</option>
                                        <option value="F">زن</option>
                                    </select>
                                </div>
                                <h5>شماره موبایل</h5>
                                <div class="form-group">
                                    <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="phone1" placeholder="شماره موبایل" required />
                                </div>
                                <h5>ایمیل</h5>
                                <div class="form-group">
                                    <label><i class="zmdi zmdi-email"></i></label>
                                    <input type="email" name="email1" placeholder="ایمیل" required />
                                </div>
                                <h5>تحصیلات</h5>
                                <div class="form-group">
                                    <select name="education1" style="width:100%" required>
                                        <option value="1">دانش آموز</option>
                                        <option value="2">دانشجو</option>
                                        <option value="3">دانش آموخته</option>
                                        <option value="4">هیچکدام</option>
                                    </select>
                                </div>
                                <h5>رشته تحصیلی</h5>
                                <div class="form-group">
                                    <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="major1" placeholder="رشته تحصیلی" />
                                </div>
                                <h5>شماره دانشجویی</h5>
                                <div class="form-group">
                                    <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="student_number1" placeholder="شماره دانشجویی" />
                                </div>
                            </div>
                            <!-- person 2 -->
                            <h4>مشخصات شرکت کننده دوم</h4>
                            <div class="signup-form">
                                <h5>نام</h5>
                                <div class="form-group">
                                    <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="first_name2" placeholder="نام" required />
                                </div>
                                <h5>نام خانوادگی</h5>
                                <div class="form-group">
                                    <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="last_name2" placeholder="نام خانوادگی" required />
                                </div>
                                <h5>جنسیت</h5>
                                <div class="form-group">
                                    <select name="gender2" style="width:100%" required>
                                        <option value="M">مرد</option>
                                        <option value="F">زن</option>
                                    </select>
                                </div>
                                <h5>شماره موبایل</h5>
                                <div class="form-group">
                                    <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="phone2" placeholder="شماره موبایل" required />
                                </div>
                                <h5>ایمیل</h5>
                                <div class="form-group">
                                    <label><i class="zmdi zmdi-email"></i></label>
                                    <input type="email" name="email2" placeholder="ایمیل" required />
                                </div>
                                <h5>تحصیلات</h5>
                                <div class="form-group">
                                    <select name="education2" style="width:100%" required>
                                        <option value="1">دانش آموز</option>
                                        <option value="2">دانشجو</option>
                                        <option value="3">دانش آموخته</option>
                                        <option value="4">هیچکدام</option>
                                    </select>
                                </div>
                                <h5>رشته تحصیلی</h5>
                                <div class="form-group">
                                    <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="major2" placeholder="رشته تحصیلی" />
                                </div>
                                <h5>شماره دانشجویی</h5>
                                <div class="form-group">
                                    <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="student_number2" placeholder="شماره دانشجویی" />
                                </div>
                            </div>
                            <!-- person 3 -->
                            <h4>مشخصات شرکت کننده سوم</h4>
                            <div class="signup-form">
                                <h5>نام</h5>
                                <div class="form-group">
                                    <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="first_name3" placeholder="نام" />
                                </div>
                                <h5>نام خانوادگی</h5>
                                <div class="form-group">
                                    <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="last_name3" placeholder="نام خانوادگی" />
                                </div>
                                <h5>جنسیت</h5>
                                <div class="form-group">
                                    <select name="gender3" style="width:100%">
                                        <option value="M">مرد</option>
                                        <option value="F">زن</option>
                                    </select>
                                </div>
                                <h5>شماره موبایل</h5>
                                <div class="form-group">
                                    <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="phone3" placeholder="شماره موبایل" />
                                </div>
                                <h5>ایمیل</h5>
                                <div class="form-group">
                                    <label><i class="zmdi zmdi-email"></i></label>
                                    <input type="email" name="email3" placeholder="ایمیل" />
                                </div>
                                <h5>تحصیلات</h5>
                                <div class="form-group">
                                    <select name="education3" style="width:100%">
                                        <option value="1">دانش آموز</option>
                                        <option value="2">دانشجو</option>
                                        <option value="3">دانش آموخته</option>
                                        <option value="4">هیچکدام</option>
                                    </select>
                                </div>
                                <h5>رشته تحصیلی</h5>
                                <div class="form-group">
                                    <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="major3" placeholder="رشته تحصیلی" />
                                </div>
                                <h5>شماره دانشجویی</h5>
                                <div class="form-group">
                                    <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="student_number3" placeholder="شماره دانشجویی" />
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 30px;">
                                <input type="checkbox" name="agree" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term">
                                    <span><span></span></span> تمامی <a href="{% url 'website:terms' %}"
                                        class="term-service">قوانین و شرایط
                                        استفاده</a> را می‌پذیرم.
                                </label>
                            </div>
                            <div class="form-group form-button">
                                <button type="submit" class="form-submit">ثبت تیم</button>
                            </div>
                        
                        </form>
                        
                        <div class="signup-image">
                            <figure><img src="{% static 'pics/signup-image.jpg' %}" alt="sing up image"></figure>
                        </div>
                    </div>

                </div>
            </div>
        </section>


    </div>



    <!-- JS -->
    <script>
        const agreeTermCheckbox = document.getElementById('agree-term');
        const submitButton = document.getElementById('submit-button');

        agreeTermCheckbox.addEventListener('change', function () {
            submitButton.disabled = !this.checked;
        });
    </script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/circle-progress.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

<!-- Footer section -->
<!-- <footer class="footer-section">
    <h2>2023 &copy; All rights reserved. Developed by <a href="https://github.com/mohamadjavadzare"
            target="_blank">Mohamad Javad Zare</a></h2>
</footer> -->
<!-- Footer section end -->

</html>