{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

<!-- <title>  -->
{% block title %} UBPC {% endblock %}
<!-- <extra css>-->
{% block extra_css %}{% endblock %}

<!-- <body> -->

{% block content %}




<!-- Header section -->
<header class="header-section">
    <div class="logo">
        <img src="{% static 'pics/logo.png' %}" alt=""><!-- Logo -->
    </div>
    <!-- Navigation -->
    <div class="responsive"><i class="fa fa-bars"></i></div>
    <nav>
        <ul class="menu-list">
            <li><a href="{% url 'website:index' %}">صفحه نخست</a></li>
            <li class="active"><a href="{% url 'website:register' %}">ثبت نام</a></li>
            <li><a href="{% url 'blog:index' %}">بلاگ</a></li>
            <li><a href="{% url 'website:countdown' %}">زمان برگزاری</a></li>
            <li><a href="{% url 'website:terms' %}">شرایط و قوانین</a></li>
            <li><a href="{% url 'website:contact' %}">تماس با ما</a></li>
        </ul>
    </nav>

</header>
<!-- Header section end -->

<div class="hero-section">

	<div class="hero-content">
		<div class="hero-center">
			<img src="{% static 'pics/big-logo.png' %}" alt="">
			{% if messages %}
			{% for message in messages %}
			<div class="text-center alert alert-{{ message.tags }}" style="text-align: center;
            margin-bottom: 30px;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            width: auto;
            background-color: #2be6ab;
            border-radius: 4px;
            padding-top: 10px;
            padding-bottom: 17px;

            font-family: 'pick-bold';">
				{{ message|safe }}
			</div>
			{% endfor %}
			{% endif %}

		</div>
	</div>

{% endblock %}
<!-- </body> -->

<!-- <extra js>-->
{% block extra_js %}
{% endblock %}