{% extends 'base.html' %}
{% load static %}

<!-- <title>  -->
{% block title %} ub-csc contest {% endblock %}
<!-- <extra css>-->
{% block extra_css %}{% endblock %}

<!-- <body> -->

{% block content %}

<!-- Header section -->
<header class="header-section">
	<div class="logo">
		<img src="{% static 'pics/logo.png' %}" alt=""><!-- Logo -->
	</div>
	<!-- Navigation -->
	<div class="responsive"><i class="fa fa-bars"></i></div>
	<nav>
		<ul class="menu-list">
            <li class="active"><a href="{% url 'website:terms' %}">شرایط و قوانین</a></li>
			<li><a href="{% url 'website:contact' %}">تماس با ما</a></li>
			<li><a href="{% url 'website:countdown' %}">زمانبندی</a></li>
			<li><a href="{% url 'blog:index' %}">بلاگ</a></li>
			<li><a href="{% url 'website:register' %}">ثبت نام</a></li>
			<li><a href="{% url 'website:index' %}">صفحه نخست</a></li>
		</ul>
	</nav>
</header>
<!-- Header section end -->

{% endblock %}
<!-- </body> -->

<!-- <extra js>-->
{% block extra_js %}
{% endblock %}