{% extends 'base.html' %}
{% load static %}
{% load jalali_filters %}
<!-- <title>  -->
{% block title %}{{post.title}}{% endblock %}
<!-- <extra css>-->
{% block extra_css %}{% endblock %}

<!-- <body> -->

{% block content %}


	<!-- Header section -->
	<header class="header-section">
		<div class="logo">
			<img src="{% static 'pics/logo.png' %}" alt=""><!-- Logo -->
		</div>
		<!-- Navigation -->
		<div class="responsive"><i class="fa fa-bars"></i></div>
		<nav>
			<ul class="menu-list">
				<li><a href="{% url 'website:index' %}">صفحه نخست</a></li>
				<li><a href="{% url 'website:register' %}">ثبت نام</a></li>
				<li class="active"><a href="{% url 'blog:index' %}">بلاگ</a></li>
				<li><a href="{% url 'website:countdown' %}">زمان برگزاری</a></li>
				<li><a href="{% url 'website:contact' %}">تماس با ما</a></li>
			</ul>
		</nav>
	</header>
	<!-- Header section end -->


	<!-- Page header -->
	<div class="page-top-section">
		<div class="overlay"></div>
		<div class="container text-right">
			<div class="page-info">
				<h2>بلاگ</h2>
				<div class="page-links">
					<a href="#">صفحه نخست</a>
					<span>بلاگ</span>
				</div>
			</div>
		</div>
	</div>
	<!-- Page header end-->


	<!-- page section -->
	<div class="page-section spad">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-7 blog-posts">
					<!-- Single Post -->
					<div class="single-post">
						<div class="post-thumbnail">
							<img src="{% static 'pics/blog/bg01.jpg' %}" alt="">
							<div class="post-date">
								<h2>{{post.created_date|jalali_day}}</h2>
								<h3>{{post.created_date|jalali_month_name}} {{post.created_date|jalali_year}}</h3>
							</div>
						</div>
						<div class="post-content">
							<h2 class="post-title">{{post.title}}</h2>
							<!-- <div class="post-meta">
								<a href="">نام و نام خانوادگی</a>
								<a href="">دسته بندی</a>
								<a href="">2 کامنت</a>
							</div> -->
							{{post.summary}}
							{{post.content|safe}}
							</div>
						<!-- Post Author -->
						<!-- <div class="author">
							<div class="avatar">
								<img src="{% static 'pics/avatar/03.jpg' %}" alt="">
							</div>
							<div class="author-info">
								<h2>نام و نام خانوادگی<span> سمت</span></h2>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
							</div>
						</div> -->
						
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- page section end-->



{% endblock %}
<!-- </body> -->

<!-- <extra js>-->
{% block extra_js %}{% endblock %}