{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>{% block title %} {% endblock %}</title>
	<!-- Favicon -->
	<link href="{% static 'pics/favicon.ico' %}" rel="shortcut icon"/>
	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/flaticon.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	
    {% block extra_css %}{% endblock %}
</head>
<body>
	<!-- Page Preloder
	<div id="preloder">
		<div class="loader">
			<img src="{% static 'pics/logo.png' %}" alt="">
			<h2>Loading.....</h2>
		</div>
	</div> -->


    {% block content %}
    <!-- Content Area -->
    {% endblock %}


    <!-- Footer section -->
	<footer class="footer-section">
		<h2  style="color: #e0f6ff; line-height: 1.5;" dir="ltr" >
			2023 &copy; All rights reserved. Computer Science Association of Bojnord University </br>
			 Developed by <a href="https://github.com/mohamadjavadzare" target="_blank">Mohamad Javad Zare</a></h2>
	</footer>
	<!-- Footer section end -->



	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/circle-progress.min.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>
	<script src="{% static 'js/map.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	
    {% block extra_js %}{% endblock %}
</body>
</html>
